/**** base components ****/

.add-btn {
  width: 150px;
  background-color: lightskyblue;
  font-size: 16px;
  color: darkblue;
  border: none;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 2px 2px 5px -3px black;
  cursor: pointer;
}

li {
  font-size: 16px;
  color: #fff;
  list-style: none;
  margin-left: -37px;
  line-height: 40px;
}

.delete-btn {
  width: 90px;
  height: 30px;
  background-color: lightskyblue;
  color: darkblue;
  font-size: 16px;
  border: none;
  border-radius: 6px;
}


/**** base body ****/

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 150px 0px 150px;
  display: flex;
  justify-content: center;
}

/**** base container ****/

.container {
  width: 293px;
  background-color: royalblue;
  box-shadow:4px 3px 8px -1px black ;
  padding: 30px;
  border-radius: 10px;
}

header {
  color: #fff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
}

.add-container {
  display: flex;
  justify-content: center;
}

input {
  width: 200px;
  height: 50px;
  background-color: whitesmoke;
  border: none;
  border-radius: 0px 7px 7px 0px;
  outline: none;
  font-size: 16px;
  padding-left: 20px;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/**** media querie ****/

@media screen and (min-width:1440px) {

  .add-btn {
    font-size: 20px;
  }

  .delete-btn {
    width: 100px;
    height: 40px;
    font-size: 20px;
  }

  header {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .container {
    width: 33%;
  }

  input {
    width: 300px;
    font-size: 16px;
  }

}

